<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/landing.css">
    <title>Sistema Escolar</title>
</head>
<body>
    <header>
        <img   src="https://logodownload.org/wp-content/uploads/2019/08/senai-logo-1.png" alt="">
        <h1 class="titulo">Bem Vindo ao Sistema do SESI 025</h1>
    </header>
    
    <main class="banner">
        <div class="banner-content">
            <h1 class="banner-botao1">Seja bem vindo ao <br>Sistema do Sesi Senai!</h1>
        <button class="banner-botao"><a href="/admin/">Área Administrativa</a></button>
        <img class="banner-img"   src="https://al.sesi.com.br/wp-content/uploads/2024/01/sesi-senai-arapiraca.jpg" alt="">
        </div>
    </main>

    <footer>
        <p>&copy; 2025 - Sistema Escolar SESI</p>
    </footer>
    
</body>
</html>