@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');


footer{
     background-color: rgb(0, 157, 255);
    color: white;
    text-align: center;
    padding: 10px;
}

header {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  background-color: #fff;
  position: relative;
  z-index: 100;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* sombra visível */
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-size: 23px;
}
.banner-texto {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  z-index: 10;
}

header > img{
    width: 12%;
    height: 50px;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.banner {
  position: relative;
  width: 100%;
  height: 81vh; /* antes estava 100vh */
  overflow: hidden;
}


/* Imagem ocupa tudo */
.banner-img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* mostra a imagem inteira */
  display: block;
  box-shadow: inset 0 0 250px rgba(0, 0, 0, 0.7);
  filter: brightness(75%);
}

.banner-botao>a{
    text-decoration: none;
    color: white;
}

/* Botão por cima da imagem */
.banner-botao {
  position: absolute;
  top: 58%;
  left: 8%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  border: none;
  padding: 18px 36px;
  font-size: 22px;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  z-index: 10; /* garante que fique por cima da imagem */
}   
.banner-botao1 {
  position: absolute;
  top: 33%;
  left: 8%;


  color: white;
  font-size: 50px;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  z-index: 10; /* garante que fique por cima da imagem */
}   

.banner-botao:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transform: translateY(-50%) scale(1.05);
}


.banner-content p {
  font-size: 22px;
  margin-bottom: 30px;
}

/* Botões */
.botoes {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 12px 25px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 6px;
  text-decoration: none;
}
.btn>a{
    text-decoration: none;
    color: white;
}

.btn.preto {
  background-color: black;
  color: white;

}

.btn.preto:hover {
  background-color: #5a5a5a;
  color: black;
}
